

* {
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(61, 61, 61);
}

.c1 {    background: yellow;}
.c2 {    background: rgb(255, 166, 0);}
.c3 {    background: rgb(255, 0, 0);}
.c4 {    background: rgb(255, 0, 212);}
.c5 {    background: rgb(162, 0, 255);}
.c6 {    background: rgb(0, 4, 255);}
.c7 {    background: rgb(0, 183, 255);}
.c8 {    background: rgb(0, 255, 64);}
.c9 {    background: rgb(123, 255, 0);}
.c10 {    background: yellow;}
.c11 {    background: rgb(255, 166, 0);}
.c12 {    background: rgb(255, 0, 0);}

.container-num {
    display: grid;
    grid-gap: 5px;
    /*AUTOFIT and MINMAX - responsivness that autofit number of columns depending on view, min is 100px and max 1fr which devide space between all columns until the new one fits*/
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /*GRID-AUTO-ROWS so each new row will have 100px*/
    grid-auto-rows: 100px;
    /*GRID-AUTO-FLOW: DENSE -  fils the gaps with next available elements*/
    grid-auto-flow: dense;
}
.horizontal {
    grid-column: span 2;/*it will change the width to 2 cells always */
}
.vertical {
    grid-row: span 2;/*it will change the hight to 2 cells always */
}
.big {
    grid-row: span 2;
    grid-column: span 2;
}
